*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: honeydew;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav>ul{
    display: inline-block;
    list-style-type: none;
}
nav>ul>li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #555;
}
p{
    columns: #555;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.header{
    background: radial-gradient(#fff,#ffd6d6);
    height: 160px;
}
.header>.row{
    margin-top: 70px;
}

.heading>h1{
    text-align: center;
    font-size: 45px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.para>p{
    width: 80%;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.subheading>h2{
    margin-left: 20px;
    font-size: 30px;
    margin-bottom: 20px;
}
.sect{
    display: flex;
}
.img2{
    height: 400px;
    width: 600px;
    margin-right: 20px;
}
.subheading>p{
    margin-left: 20px;
    margin-bottom: 60px;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.936);
    height: 200px;
}
.menus>ul>li{
    display: block;
    padding: 4px 0px;
}
.menus>ul>li>a{
    text-decoration: none;
    color: rgb(116, 116, 116);
    

}
.menus>ul>li>a:hover{
    color: rgb(116, 116, 116);
    font-weight: bold;
}
.details{
    color: rgb(116, 116, 116);
    margin-left: 20px;
    width: 400px;
    height: 100px;
}
.map>iframe{
    margin-right: 20px;
}

.menus{
    width: 230px;
    height: 100px;
    text-align: center;
    margin-bottom: 20px;
}